<div class="container">
    <div class="row">
        <div class="col s12">
            <h4 class="teal-text center">Вход в учетную запись</h4>
            <h5 class="header teal-text center" *ngIf='this.registered'>Благодарим за регистрацию! Вам на почту пришло письмо с подтверждением регистрации, проверьте Вашу почту!</h5>
            <h5 class="header red-text center" *ngIf='this.isError'>Неудачная попытка входа! Неправильное имя пользователя/пароль или Ваш аккаунт не прошел активацию!</h5>
        </div>
        <div class="col s12 offset-s2">


            <main>
            

                
                <div class="container">
                    <div class="z-depth-3 y-depth-3 x-depth-3 grey green-text lighten-4 row"
                        style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px; margin-top: 100px; solid #EEE;">
                     
                        <form class="col s12" [formGroup]="loginForm" (ngSubmit)="login()">
                            <div class='row'>
                                <div class='col s12'>
                                </div>
                            </div>

                            <div class='row'>
                                <div class='input-field col s12'>
                                    <input type='text' [formControlName]="'userName'" placeholder="Введите логин" name='username' id='username' required autofocus/>
                                    <label class="red-text text-lighten-2" for="username" style="margin-top: -15%;" *ngIf="!loginForm.get('userName').valid && loginForm.get('userName').touched">Пожалуйста введите имя!</label> 
                                </div>
                            </div>

                            <div class='row'>
                                <div class='input-field col s12'>
                                    <input type='password' [formControlName]="'password'" placeholder="Введите пароль" name='password'
                                        id='password' required autofocus/>
                                        <label class="red-text text-lighten-2" for="password" style="margin-top: -15%;" *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">Пожалуйста введите пароль!</label> 
                                </div>
                            </div>

                            <br />
                            
                                <div class='row'>
                                    <div class='col s12'>
                                    <button [disabled]="!loginForm.get('userName').valid 
                                    || !loginForm.get('password').valid" type='submit' name='btn_login'
                                        class='col s12 btn btn-large waves-effect cyan lighten-2'>Войти
                                    </button>
                                   
                                    
                                </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <span style="padding-left: 15px">Новый пользователь? <a routerLink="/sign-up">Регистрация</a></span>
                                    </div>
                                  
                                </div>
                          
                        </form>


                    </div>
                </div>

            </main>

        </div>
    </div>
</div>